<!DOCTYPE html>
<html>
 <head>
   <meta charset="UTF-8">
   <title>happy</title>
   <style>
     h1{color:lightpink;font-family: 'Oswald', sans-serif; font-size: 250%; text-align: center;}
     h2 {color:white;font-family: 'Montserrat', sans-serif; font-size: 250%;background:lightblue;
     body {
   </style>
 </head>
 <body>

<nav class="navbar fixed navbar-expand-md navbar-light" style="background-color: #aadeed;" id="nav">
        <a class="navbar-brand" href="index.erb">Mood Swings<img src="https://cdn3.iconfinder.com/data/icons/camping-outline-pt-3/100/107_-_swing_playground-512.png" width='50px'></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index">HOME <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="happy">happy</a>
                </li>
                 <li class="nav-item active">
                    <a class="nav-link" href="upset">upset</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="stressed">stressed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="peaceful">peaceful</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">about us</a>
                </li>
            </ul>
        </div>
    </nav>
    <h1>Upset: angry, sad, don't know what to do? Here are some resources to hopefully turn that frown upside down:)))</h1>
    <h2>Pictures</h2>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <img src= "https://i.pinimg.com/originals/33/77/5c/33775c99e3bfd189971717537b559c4d.jpg" width="200" height="250">
    <img src= "http://www.zarias.com/wp-content/uploads/2015/12/61-cute-puppies.jpg" width="200" height="250">
    <img src= "https://img.buzzfeed.com/buzzfeed-static/static/2016-12/5/20/asset/buzzfeed-prod-fastlane03/sub-buzz-25152-1480988724-3.jpg?downsize=715:*&output-format=auto&output-quality=auto" width="200" height="250"
    <img src= "https://static.boredpanda.com/blog/wp-content/uploads/2016/08/cute-kittens-31-57b30ad5ccbc8__605.jpg" width= "200" height= "250">
    
 </body>
</html>
